# Global options
options:
  includeOriginalLine: false
input:
  kafka: 
    module: input-kafka
    brokerAddress: localhost
    offset_directory: /tmp/kafka-offsets
    brokerPort: 9092
    topic: test
    debug: true

output:
  # print parsed logs in YAML format to stdout if supress is set false    
  stdout: yaml # use 'pretty' for pretty json and 'ldjson' for line delimited json (default)
  