# Global options
options:
  includeOriginalLine: false

input:
  stdin: true

output:
  kafka: 
   module: output-kafka
   kafkaHost: localhost
   topic: test
   #Configuration for consider message as  acknowledged acknowledged
   # 0 = No ack required
   # 1 = Leader ack required
   # -1 All in sync replicas ack required
   requireAcks: 1
   sslEnable: false
   #For init sslOptions please refer to to https://nodejs.org/api/tls.html
   sslOptions: 
      - rejectUnauthorized: false
     

  